body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color:#F7F7F7;
    height: 100vh;
}

/*Home*/
.home {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #4a5568;
    padding: 30px 50px 30px 50px;
    font-family: 'Roboto',sans-serif;
}
.heading {
    font-size: 35px;
    font-weight: 600;
    color: azure;
}
.desc {
    font-size: 20px;
    font-weight: 500;
    color: azure;
}

/*Input*/
.input {

    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 10px 50px 10px 50px;
    background-color: #f7fafc;
}
.input .heading {
    color: #2d3748;
}
.input form {
    display: flex;
    gap: 200px;
    padding: 10px 50px 20px 10px;
}
input {
    
}
.in {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 25px;
    color:#4a5568;
}
.in input {
    padding: 12px 15px;
    border: 2px solid #cbd5e0;
    border-radius: 6px;
    font-size: 15px;
    
    background: white;
}


/*Output*/
.output {
}